#tagline{
    font-size: 75px;
    letter-spacing: 113px;
    font-family:monospace;
    color: royalblue;
    text-align: center;
}
#banner-images{
    text-align: center;
}
.game-image{
    align-content: center;
}